<section class="alert-root">
  <h1 class="h1">{{title}}</h1>
  <div class="content">
    <p>{{text}}</p>
  </div>
  <div class="buttons">
    {{#each buttons}}
      <button>{{text}}</button>
    {{/each}}
  </div>
</section>