<section class="alert-root">
  <div class="content">
    <p>{{text}}</p>
  </div>
  <div class="button-row">
    {{#each buttons}}
      <button class="btn btn1">{{text}}</button>
    {{/each}}
  </div>
</section>