<div class="modal-root">
  <div class="modal-container">
    <header class="h1 modal-heading">
      <h1>{{ heading }}</h1>
      {{#if closable}}
        <div role="button" tabindex="0" class="close-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.214001 21.214001">
            <path d="M21.214 17.071q0 .714-.5 1.214l-2.429 2.429q-.5.5-1.214.5t-1.214-.5l-5.25-5.25-5.25 5.25q-.5.5-1.214.5t-1.214-.5l-2.429-2.429q-.5-.5-.5-1.214t.5-1.214l5.25-5.25-5.25-5.25q-.5-.5-.5-1.214t.5-1.214l2.429-2.429q.5-.5 1.214-.5t1.214.5l5.25 5.25 5.25-5.25q.5-.5 1.214-.5t1.214.5l2.429 2.429q.5.5.5 1.214t-.5 1.214l-5.25 5.25 5.25 5.25q.5.5.5 1.214z">
          </svg>
        </div>
      {{/if}}
    </header>
    <div class="modal-body"></div>
  </div>
</div>