<section class="text-input-root">
  <form>
    <div class="menu-list">
      <div class="item">
        <label class="main-action">
          {{#if label}}
            <div class="label">{{label}}</div>
          {{/if}}
          <input type="{{type}}"
                 id="text-input"
                 name="text"
                 {{#if required}}required{{/if}}
                 {{#if autofocus}}autofocus{{/if}}
                 {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
                 {{#if value}}value="{{value}}"{{/if}}
                 >
        </label>
      </div>
    </div>
    <div class="status"></div>
  </form>
</section>