// btn 1
  .btn {
    // unbutton
    margin: 0;
    cursor: pointer;
    overflow: visible;
    vertical-align: middle;
    font-size: inherit;
    
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: #fff;
    position: relative;
    
    @include transition(all 0.15s linear);
    @include transition-property(border-color, background-color);
    
    &:focus {
      @include transition(none);
      outline: none;
    }

    &::-moz-focus-inner { 
      border: 0;
      padding: 0;
    }

    &.has-icon {
      padding-left: 2.4rem;
    }

    & .icon {
      height: 1em;
      width: 1em;
      position: absolute;
      top: 50%;
      margin-top: -0.5em;
      left: 1rem;
    }
  }

  .btn1 {
    background: #3498DB;
    border: 1px solid #3498DB;
    
    &:hover,
    &:focus {
      background-color: #2383C4;
      border-color: #2077B2;
    }
  }

// buttons layout
  .button-row {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    
    & .status {
      font-size: 0.9rem;
      margin-right: 0.7rem;
      flex: 1;
    }
    & .btn {
      min-width: -webkit-min-content;
      min-width: min-content;
    }
  }