// root components
  .root {
    display: none;
  }

// page
  .page {
    & .root {
      display: block;
    }
  }

// modal
  .modal-root {
    opacity: 0;
    @include transition(opacity 1s);
    
    &.open {
      opacity: 1;
    }
  }

// menu-list
  .menu-list {
    padding: 0 0.7rem;
    margin: 0;
    
    & > .item {
      display: block;
      list-style: none;
    }
    & .main-action {
      display: block;
    }
    & .sub-actions {
      display: none;
    }
    &.show-sub .sub-actions {
      display: block;
    }

    button.main-action {
      width: 100%;
    }

    & .main-action {
      text-decoration: none;
      color: #fff;
      border-top: 1px solid #5a5a5a;
      min-height: 3.9rem;
      display: flex;
      flex: none;
      flex-direction: column;
      justify-content: center;
      background: #000;
      padding: 0 0.7rem;
      position: relative;
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        opacity: 0;
        @include transform(translateZ(0));
        @include transition(opacity 0.2s ease);
      }
      
      &:hover,
      &:focus {
        outline: none;
        &:before {
          opacity: 0.2;
        }
      }
      
      & .title {
        font-size: 1.1rem;
      }

      & .detail {
        opacity: 0.8;
        font-size: 0.9rem;
      }

      & .icon {
        position: absolute;
        top: 0;
        width: 1rem;
        height: 100%;
      }
      &.has-icon {
        & .title,
        & .detail {
          margin-left: 1.5rem;
        }
      }
    }
  }

// logo
  .logo {
    text-align: center;
    padding: 3rem 0;
  }