// page
  @include keyframes(has-sub-page) {
    from {
      pointer-events: auto;
      @include transform(translateZ(0));
    }
    to {
      pointer-events: none;
      @include transform(translate(-50%, 0));
    }
  }

  @include keyframes(no-sub-page) {
    from {
      pointer-events: none;
      @include transform(translate(-50%, 0));
    }
    to {
      pointer-events: auto;
      @include transform(translateZ(0));
    }
  }

  .page {
    height: 100%;
    @include transform(translateZ(0));
    
    &.has-sub-page {
      @include animation(has-sub-page 0.3s linear forwards);
    }
    &.no-sub-page {
      @include animation(no-sub-page 0.3s $easeOutQuad forwards);
    }
  }

// sub page
  @include keyframes(sub-page-in) {
    from {
      pointer-events: none;
      @include transform(translate(100%, 0));
    }
    to {
      pointer-events: auto;
      @include transform(translateZ(0));
    }
  }

  @include keyframes(sub-page-out) {
    from {
      pointer-events: none;
      @include transform(translateZ(0));
    }
    to {
      @include transform(translate(100%, 0));
    }
  }

  .sub-page-root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;

    @include transform(translateZ(0));
    @include display-flex;
    @include flex-direction(column);
    
    &.active {
      @include animation(sub-page-in 0.3s $easeOutQuad forwards);
    }

    &.inactive {
      @include animation(sub-page-out 0.3s $easeOutQuad forwards);
    }
    
    & .sub-page-body {
      overflow: auto;
      @include flex(1);
    }

    & .sub-page-heading {
      @include display-flex;
      
      & h1 {
        text-align: center;
        margin: 0 1.5rem 0 0.5rem;
        @include flex(1);
      }
    }

    & .back-btn {
      width: 1rem;
      position: relative;
      
      &:focus {
        outline: 0;
      }

      & svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      & path {
        fill: #fff;
      }
    }
  }

// modal
  .modal-root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include display-flex;
    @include flex(none);
    @include flex-direction(column);
    @include justify-content(center);
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: 0;
    }

    & .modal-container {
      position: relative;
      margin: 0 1.2rem;
      background: #464646;
      opacity: 0;
      border-radius: 2px;
      @include transform(scale(0.5) translateZ(0));
    }
    
    &.open {
      &::before {
        @include transition(opacity 0.4s ease-out);
        opacity: 0.5;
      }

      & .modal-container {
        opacity: 1;
        @include transform(translateZ(0));
        @include transition(all 0.4s $easeOutQuart);
        @include transition-property(opacity, -webkit-transform);
        @include transition-property(opacity, transform);
      }
    }

    &.close {
      &::before {
        @include transition(opacity 0.15s ease-in);
      }

      & .modal-container {
        @include transition(all 0.15s $easeInQuad);
        @include transition-property(opacity, -webkit-transform);
        @include transition-property(opacity, transform);
      }
    }

    & .close-btn {
      margin: 0 0 0 auto;
      width: 1rem;
      position: relative;
      
      &:focus {
        outline: 0;
      }

      & svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      & path {
        fill: #fff;
      }
    }

    & .content { // only used by "alert"
      padding: 0 0.7rem;
    }

    & .modal-heading {
      @include display-flex;
    }
  }

// menu-list
  .menu-list {
    padding: 0 0.7rem;
    margin: 0;
    
    .modal-root & {
      padding: 0;
    }
    
    & > .item {
      @include display-flex;
      @include align-items(center);
      list-style: none;
      border-top: 1px solid #5A5A5A;
      min-height: 3.9rem;
      position: relative;
    }
    & .main-action {
      display: block;
    }
    & .sub-actions {
      @include max-height-min-content;
    }

    button.main-action {
      width: 100%;
    }

    & .row,
    & .main-action {
      @include flex(1);
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(center);
      padding: 0.5rem 0.7rem;
    }

    & .main-action {
      text-decoration: none;
      color: #fff;
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        opacity: 0;
        pointer-events: none;
        @include transform(translateZ(0));
        @include transition(opacity 0.2s linear);
      }
      
      &:hover,
      &:focus {
        outline: none;
        &:before {
          opacity: 0.2;
        }
      }
      
      & .title {
        font-size: 1.1rem;
      }

      & .detail {
        opacity: 0.8;
        font-size: 0.9rem;
      }

      & .label {
        font-size: 0.9rem;
      }

      & input {
        background: none;
        border: none;
        font-size: 1.1rem;
        color: inherit;
        margin: 0;
        padding: 0;
        line-height: 1.4;
        
        &:focus {
          outline: none;
        }
        
        @include placeholder {
          color: inherit;
          opacity: 0.8;
        }
      }

      & .icon {
        position: absolute;
        top: 0;
        width: 1rem;
        height: 100%;
      }
      &.has-icon {
        & .title,
        & .detail {
          margin-left: 1.5rem;
        }
      }
    }
  }

// logo
  .logo {
    text-align: center;
    padding: 3rem 0;
  }

// headings
  .h1 {
    background: #C95800;
    margin: 0;
    padding: 0.5rem 0.7rem;
    position: relative;
    font-size: 1.3rem;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    
    &::after {
      content: '';
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to right, #FF7000, #FFA300);
    }
  }

// remote
  @include keyframes(flash-white) {
    from {
      fill: #fff;
    }
  }

  .remote-root {
    background: #000;
    overflow: hidden;
    position: relative;
    fill: #ccc;
    
    & .heighter {
      padding-top: 100%;
    }

    & .remote-outer {
      position: absolute;
      top: 1rem;
      left: 1rem;
      bottom: 1rem;
      right: 1rem;
    }

    & .remote-svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    
    & .mask,
    & .icon {
      fill: #000;
    }
    & .icon {
      pointer-events: none;
      cursor: pointer;
    }

    &.allow-hover .button:hover {
      fill: #eee;
    }

    &.allow-hover .button.active,
    & .button.active {
      fill: #fff;
    }

    & .button {
      &.flash {
        @include animation(flash-white 0.2s linear both);
      }
    }
  }

// tv-root page
  .tv-root {
    height: 100%;
    @include display-flex;
    @include flex-flow(column);
    
    & .remote-root {
      @include max-height-max-content;
    }
    & .main-menu-root {
      @include flex(1);
      @include min-height-min-content;
    }
    & .now-playing-root {
      height: 80px;
    }
  }

// now playing
  .now-playing-root {
    overflow: hidden;
    position: relative;
    pointer-events: none;
    
    & > .inner {
      opacity: 0;
      @include transform(translate(50%, 0) translateZ(0));
      @include display-flex;
    }
    &.active {
      pointer-events: auto;

      & > .inner {
        opacity: 1;
        @include transform(translateZ(0));
        @include transition(all 0.4s $easeOutQuint);
      }
    }
    &.out > .inner {
      opacity: 0;
      @include transform(translate(-50%, 0) translateZ(0));
      @include transition(all 0.2s $easeInQuart);
    }

    & .poster {
      height: 100%;
      
      & img {
        height: 100%;
        @include transform(translateZ(0));
      }
    }
  }