html {
  background: #000 linear-gradient(to bottom, #000, #363E53);
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  color: #fff;
  fill: #fff;
  font-family: sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

// button-like
  [role=button],
  label {
    cursor: pointer;
  }