{% extends 'base.html' %}
{% block title %}XBMC Remote - Select Server{% endblock %}

{% block body %}
  <div class="page">
    <div class="home-root root">
      <div class="logo">TODO: logo</div>
      <nav>
        <ul class="menu-list">
        </ul>
        {% include "_spinner.html" with {instance:true} %}
      </nav>
    </div>
  </div>
  <div class="server-edit-root root template">
    <form class="server-form">
      <input type="hidden" name="oldNickname" value="">
      <div>
        <label>
          Nickname:
          <input type="text" name="nickname" placeholder="eg Living Room" required>
        </label>
      </div>
      <div>
        <label>
          Host:
          <input type="text" name="host" required>
        </label>
      </div>
      <div>
        <label>
          Port:
          <input type="number" name="port" pattern="[0-9]*" value="9090" required>
        </label>
      </div>
      <div><button class="submit">Save</button></div>
      <div class="status"></div>
    </form>
  </div>
  {% include "_modal.html" %}
{% endblock %}

{% block bodyEnd %}
  <script>
    new xbmc.HomePage();
  </script>
{% endblock %}